# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
ai/

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/

# Ignore macOS-specific files
.DS_Store

# Ignore other unnecessary files
*.log
*.tmp
*.bak
